
  <%= form_with(model: bike, local: true,class: "form-inline") do |form| %>
    <% if bike.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

        <ul>
        <% bike.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
      <span id = "nameError" style="color: red"></span>
    </div>

    <div class="field">
      <%= form.label :price %>
      <%= form.number_field :price %>
      <span id="priceError" style="color: red"></span>
    </div>

    <div class="field">
      <%= form.label :kilometer %>
      <%= form.number_field :kilometer %>
      <span id = "kilometerlimitError" style="color: red" ></span>
    </div>
    <div class="form-group">
      <%= form.label :image %>
      <%= form.file_field :avatar %>
      <span id = "imageError" style="color: red"></span>
    </div>

    <div class="checkbox">
      <%= form.label :is_available %>
      <%= form.number_field :is_available %>
    </div>
    <div class="actions" style="padding-bottom: 26px">
      <%= form.submit "Create Bike", id: "submit",style: "background-color: #fddd4a;",class: "btn btn-default black-text bold" %>
      <%= link_to 'Back', bikes_path ,style: "background-color: #fddd4a;",class: "btn btn-default black-text bold"%>
    </div>
  <% end %>

<script>
var nameHandle = document.getElementById('bike_name');
var nameErrorHandle = document.getElementById('nameError');

var priceHandle = document.getElementById('bike_price');
var priceErrorHandle = document.getElementById('priceError');

var kilometerlimitHandle = document.getElementById('bike_kilometer');
var kilometerlimitErrorHandle = document.getElementById('kilometerlimitError');

var availabilityHandle = document.getElementById('bike_available');
var availabilityErrorHandle = document.getElementById('availabilityError');

nameHandle.onblur = function(){
    if (nameHandle.value == ""){
      nameErrorHandle.innerHTML =  "Bike name can't be blank";
    } 
    else
    {
    if (nameHandle.value.length >= "2") {
        nameErrorHandle.innerHTML = "";
      } else {
        nameErrorHandle.innerHTML = "Bike name should be more than 1 character";
      }
    }

  }
priceHandle.onblur = function(){
  if(priceHandle.value == "")
  {
    priceErrorHandle.innerHTML = "Price cannot be blank";
  }
  else if(priceHandle.value < "1")
  {
    priceErrorHandle.innerHTML = "Price cannot be less than 1";
  }
  else if(isNaN(priceHandle.value)) {
    priceErrorHandle.innerHTML = "Price should be a number";
  }
  else{
    priceErrorHandle.innerHTML = "";
  }
};

kilometerlimitHandle.onblur = function(){
  if(kilometerlimitHandle.value == "")
  {
    kilometerlimitErrorHandle.innerHTML = "Kilometer limit cannot be blank";
  }
  else if(kilometerlimitHandle.value < "1")
  {
    kilometerlimitErrorHandle.innerHTML = "Kilometer limit cannot be less than 1";
  }
  else if(isNaN(kilometerlimitHandle.value)) {
    kilometerlimitErrorHandle.innerHTML = "Kilometer limit should be a number";
  }
  else{
    kilometerlimitErrorHandle.innerHTML = "";
  }
};


var submitHandle = document.getElementById('submit');
// submitHandle.disabled = true;
</script>
