
<div class="row package_page minheight500" style="margin-top: 100px;">
  <div class="tariff_body">
    <div class="black-text bold right">
    <%= link_to 'New Bike', new_bike_path %>
    </div>
    <div id="tariff_vehicle_type1" class="col s12">
        <div class="row">
          <div class="col l12 m10 s10 offset-s1 offset-m1 pad0 margin_top">
          <% @bikes.each do |bike| %>
          <div class="col l4 m6 s12  " style="padding: 10px;">
            <div class="col l12 m12 s12 z-depth-1 card pad0 ">
                <%= link_to bike do %>
                <h6 class="col l12 m12 s12 center-align"><%= bike.name %></h6>
                <%end%>
              <div class="col l12 m12 s12 center-align">
                <%= image_tag bike.try(:avatar) %>
              </div>
              <div class="col l12 m12 s12 pad0 package_desc white">
                <div id="bike-98-7" class="col s12">
                  <div class="col l12 m12 s12">                       
                    <p class="bold">Price<span class="right"><%= bike.price %></span></p>
                      <p>Km<span class="right"><%= bike.kilometer %></span></p>
                      <% if bike.is_available == true %>
                      <p class="center-align" style="color: green">Available <span class="right"><%#= bike.is_available %></span></p>
                      <% else %>
                      <p class="center-align" style="color: red">Not Available <span class="right"><%#= bike.is_available %></span></p>
                      <% end -%>
                  </div>
                </div>
              </div>
              <a class="black-text bold" data-bike-id="98" href="#filter_it_search" data-book-button="true">
                <div class="col l3 m3 s12 button_style pad0" style="background-color: #fddd4a; width: 100%;" >
                  <p class="center-align marginbottom10">BOOK</p>
                </div>
              </a>
            </div>
          </div>
        <% end -%>
         </div>
      </div>
    </div>
  </div>
</div> 