<div class="container" style="margin-top: 100px">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @bike.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @bike.price %>
</p>

<p>
  <strong>Kilometer:</strong>
  <%= @bike.kilometer %>
</p>

<p>
  <strong>image:</strong>
  <%=image_tag @bike.avatar %>
</p>

<p>
  <strong>Is available:</strong>
  <%= @bike.is_available %>
</p>
<div style="padding-bottom: 26px">
<%= link_to 'Edit', edit_bike_path(@bike),style: "background-color: #fddd4a;",class: "btn btn-default black-text bold" %>
<%= link_to 'Back', bikes_path ,style: "background-color: #fddd4a;",class: "btn btn-default black-text bold"%>
</div>
</div>